@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
}
.group15 {
  display: flex;
  justify-content: space-between;
  width: 359px;
  height: 88px;
  padding: 15px;
  background-color: #fff;
  border-radius: 15px;

  button {
    color: black;
    background-color: #fff;
    width: 125px;
    height: 58px;
    font-size: 16px;
    line-height: 30px;
  }
  button:focus {
    background: #2c698d;
    border-radius: 10px;
    color: #fff;
  }
}
